<!-- <div class="demo-button-container">
    <button mat-flat-button (click)="addData()" class="demo-button" style="background-color:#0a9a73; color: #fff;margin-left: 18px;z-index: 0;margin-top: 50px;">
        <mat-icon>add</mat-icon>
        Add Order
    </button>
    <button mat-flat-button [disabled]="!dataToDisplay.length" (click)="removeData()" class="demo-button" color="warn" style="margin-left: 18px;z-index: 0;margin-top: 50px;">
        Remove Order
    </button>
</div> -->

<section class="container">
    <h2 style="font-family: system-ui;font-weight: 600;">All Orders</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="items">
            <th mat-header-cell *matHeaderCellDef>items</th>
            <td mat-cell *matCellDef="let element">{{ element.items }}</td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>total</th>
            <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" style="color:#0a9a73" >
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="removeData()">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

</section>