<h1 mat-dialog-title style="font-size: 18px;">Add Product</h1>
<div mat-dialog-content style="padding-top: 10px;">
    <form [formGroup]="productForm">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="productName" matInput placeholder="Name" class="inp">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" placeholder="Category">
                <mat-option value="Analgesics">Analgesics</mat-option>
                <mat-option value="Vitamins">Vitamins</mat-option>
                <mat-option value="Antibiotic">Antibiotic</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Expire Date</mat-label>
            <input formControlName="expire_date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input formControlName="price" matInput type="number" placeholder="Price">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput type="number" placeholder="Quantity">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'"style="margin: 15px 25px;">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" 
        style="background-color: #0a9a73;margin-left: 8px;"
        (click)="addProduct()"
    >
        {{actionBtn}}
    </button>

</div>